<header id="header">
  <h1>Will Felix</h1>
  <p>Engenheiro de Sistemas &nbsp;&bull;&nbsp; Ninja</p>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/willfelix0307" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.linkedin.com/in/will-felix-7ab2a19b" target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
      <li><a href="https://github.com/willfelix" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:willfelix93@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </nav>
</header>
